.spinner{
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
}
.spinner > div{
    background-color: #67cf22;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: mymove 2.0s infinite ease-in-out;
}
.spinner > div:nth-child(2){
    animation-delay: -1.0s;
}

@keyframes mymove{
    0%,100% { transform: scale(0.0);}
    50% { transform: scale(1.0);}
}
