<!--
 * @Author: George Wu
 * @Date: 2020-08-24 21:14:14
 * @LastEditors: George Wu
 * @LastEditTime: 2020-08-30 14:41:42
 * @FilePath: \vueJSPang\example\v-model.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model  实列</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-model 实例</h1>
    <hr>
    <div id="app">
        <p>原始文本信息{{message}}, jspang</p>
        <h3>文本框</h3>
        <p>v-model<input type="text" v-model="message"></p>
        <p>v-model.lazy<input type="text" v-model.lazy="message"></p>
        <p>v-model.number<input type="text" v-model.number="message"></p>
        <p>v-model.trim<input type="text" v-model.trim="message"></p>
        <hr>
        <h3>文本域</h3>
        <textarea cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="jspang" value="jspang" v-model="web_names">
            <label for="isTrue">jspang</label>
            <input type="checkbox" id="panda" value="panda" v-model="web_names">
            <label for="isTrue">panda</label>
            <input type="checkbox" id="panpan" value="panpan" v-model="web_names">
            <label for="isTrue">panpan</label>
            <p>{{web_names}}</p>
        </p>
        <h3>单选框的绑定</h3>
        <p>
            <input type="radio" id="man" value="男" v-model="sex">
            <label for="man">男</label>
            <input type="radio" id="woman" value="女" v-model="sex">
            <label for="woman">女</label>
        </p>
        <p>
            你选择的性别是：{{sex}}
        </p>
    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                isTrue: true,
                web_names: [],
                sex: '男'
            }
        });
    </script>

</body>
</html>